<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <!--server inet-->
    <add name="SSLsEntities" connectionString="metadata=res://*/SSlsModel.csdl|res://*/SSlsModel.ssdl|res://*/SSlsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=203.150.102.7;initial catalog=SSLs;persist security info=True;user id=sa;password=*Adm@sslog;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WH_TRATEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=203.150.102.7;initial catalog=WH_TRAT;persist security info=True;user id=sa;password=*Adm@sslog;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--server trad WINDOWS-O26X8G9 \\192.168.1.250\SeiNo\PMs\-->
    
    <!-- 
    <add name="SSLsEntities" connectionString="metadata=res://*/SSlsModel.csdl|res://*/SSlsModel.ssdl|res://*/SSlsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=125.27.39.131;initial catalog=SSLs;persist security info=True;user id=sa;password=System2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WH_TRATEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=WINDOWS-O26X8G9;initial catalog=WH_TRAT;persist security info=True;user id=sa;password=System2014;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    -->
    
    <!--local -->
    <!--
    <add name="SSLsEntities" connectionString="metadata=res://*/SSlsModel.csdl|res://*/SSlsModel.ssdl|res://*/SSlsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS2014;initial catalog=SSLs;persist security info=True;user id=sa;password=sakdadev;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WH_TRATEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS2014;initial catalog=WH_TRAT;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--local Trad สาขา 1-->
  
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" /> 
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>